theme = "base16_transparent"

[editor]
line-number = "relative"
mouse = false
clipboard-provider = "pasteboard"

[editor.cursor-shape]
insert = "bar"
normal = "block"
select = "underline"

[editor.file-picker]
hidden = false
