[language-server.discord-rpc]
command = "/Users/briheet/go/bin/discord-rpc-lsp"
# env = { DISCORD_IPC_PATH = "/var/folders/b7/xxwcv1sn5qz00ckmfpgz74b00000gn/T/discord-ipc-0" }

[[language]]
name = "go"
roots = ["go.work", "go.mod"]
auto-format = true
formatter = ["gofmt"]
comment-token = "//"
language-servers = [ "gopls", "golangci-lint-lsp" ]

[language-server.golangci-lint-lsp]
command = "golangci-lint-langserver"

[language-server.golangci-lint-lsp.config]
command = ["golangci-lint", "run", "--path-mode=abs", "--output.json.path=stdout", "--output.text.path=/dev/null","--show-stats=false", "--issues-exit-code=1"]

[[language]]
name = "rust"
auto-format = true
formatter = { command = "rustfmt", args = ["--edition", "2021"] }

[language-server.rust-analyzer]
config = { checkOnSave = { command = "clippy" }, cargo = { allFeatures = true }}
